.images{
    overflow: hidden;
    height: 100%;    
}
.images img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.logo{
    max-height: 62px;
    
}
.menu__link svg{
    fill: white;
}
.menu__link svg:hover{
fill: #353f4a;
}
.Ñontainer{
    position: absolute;
    top: 0px;
    margin: 0 auto;
    width: 100%;
}
.menu{
    padding: 20px;
    background-color: rgb(165, 42, 42, 0.7);
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    
}
.menu__link{
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.sub-menu__list{
    display: none;    
}
.sub-menu__link{
color: white;
font-weight: bold;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
.sub-menu__list li{
    padding-bottom: 10px;
}
.menu__list>li:hover .sub-menu__list{
    display: block;
    position: absolute;
    padding: 10px;
    background-color: rgb(165, 42, 42, 0.7);
    top: 56px;
}
