ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: inherit;  
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.Ñontainer{
    max-width: 900px;
    margin: 0 auto;
}

ul>li{
    padding: 10px;    
}
ul.li>a:hover{
    background: #9d2235;       
}
.left{
    padding: 20px;
}
.right{
    padding: 20px;
}
.topHeader{
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    /* box-shadow: 0px 0.5px 1px rgb(241, 239, 239); */
    border-bottom: solid 1px rgb(226, 224, 224);
    
}
.midleHeader{
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px rgb(226, 224, 224);
}
nav{
    width: 100%;
    border-bottom: solid 1px rgb(226, 224, 224);
}
.baner{
    padding: 10px;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.news{
    max-width: 300px3;
}
.content_item{
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}