.main__section{
    display: block;
    overflow: hidden;
    height: 100%;       
}
.main__section img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.logoVR svg{
    fill: white;
    transition: 0.5s;
}
.logoVR svg:hover{
fill: #353f4a;
transition: 0.1s;
}
.Ñontainer{
    position: absolute;
    top: 0px;
    margin: 0 auto;
    width: 100%;
}
.menu__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu{
    padding: 5px;
    background-color: rgb(165, 42, 42, 0.7);
    display: flex;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
}
.menu__list>li:hover .menu__link{
    background-color: rgba(85, 43, 43, 0.68);
}
.menu__link{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px; 
}
.sub-menu__list{
    display: none;    
}
.sub-menu__link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;

}
.sub-menu__list li{
    padding: 10px 0px 10px 0px;
}

.menu__list>li:hover .sub-menu__list{
    display: block;
    position: absolute;  
    background: rgba(85, 43, 43, 0.68);    
    top: 53px;
    z-index: 10; 
}
.sub-menu__list>li:hover{
    background: rgba(233, 14, 14, 0.68);    
}

.entry{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 55px; 
    width: 100%;
    padding: 50px;   
}
.entryForm{
    height: 450px;
    width: 350px;
    background-color: white;
    margin-top: 100px;
}
.logo__UUAZ{
    background-color: rgb(165, 42, 42, 0.7);
    transition: 0.1s;
    height: 155px;
    margin-top: 172px;
}
.logo__UUAZ svg{
    fill: white;
    padding: 10px;
    transition: 0.5s;   
}
.logo__UUAZ svg:hover{
    fill: #353f4a;
    transition: 0.1s;
}
.slogan{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}
