ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
ul>li{
    padding: 10px;    
}
.left{
    padding: 20px;
}
.right{
    padding: 20px;
}
.topHeader{
    display: flex;
    justify-content: space-between;
}
.midleHeader{
    padding: 10px;
    text-align: center;
}

